body {
    width: 100%;
    background-color: grey;
}

#calculator{
    display: flex;
    justify-content: center;
    width: 100%;
}

.inputandnumbers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
}

#screen{
    width: 500px;
    height:30px;
    background-color: lightgrey;
}

.inputscreen{
    display: flex;
    justify-content: center;
}

.numbers{
    margin-top: 5px;
    flex-direction: row;
    justify-content: center;
    flex: 1 0 1;
    height:auto;
    width: 350px;
    flex-wrap: wrap;
}

.keys{
    width: 90px;
    height: 90px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}


.operations{
    flex-direction: row;
    margin-top: 6px;
}

.numbers, .operations{
    display: flex;
    gap: 5px;
    justify-content: center;
}

.keys{
    font-size: 30px;
    font-weight:800;
    border-radius: 50px;
    cursor: pointer;
}